[submodule "proto/googleapis"]
	path = proto/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
        ignore = untracked
[submodule "proto/openconfig/gnmi"]
	path = proto/openconfig/gnmi
	url = https://github.com/openconfig/gnmi.git
[submodule "proto/openconfig/public"]
	path = proto/openconfig/public
	url = https://github.com/openconfig/public.git
[submodule "proto/p4runtime"]
	path = proto/p4runtime
	url = https://github.com/p4lang/p4runtime.git
