[submodule "proto/googleapis"]
	path = proto/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
        ignore = untracked
[submodule "proto/openconfig/reference"]
	path = proto/openconfig/reference
	url = https://github.com/openconfig/reference.git
