# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Emacs files
*~

# autotools files
Makefile
Makefile.in
.deps/
.libs/
config.*
configure
aclocal.m4
autom4te.cache/
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
tests/test-suite.log
m4/
.dirstamp
py-compile

*.tar.gz

# Python
*.pyc

doxygen-out

core

# Bazel build directories
bazel-*
