name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  check-changes:
    name: Check whether tests need to be run based on diff
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: antrea-io/has-changes@v2
      id: check_diff
      with:
        paths-ignore: docs/* *.md bazel/*
    outputs:
      has_changes: ${{ steps.check_diff.outputs.has_changes }}

  test:
    needs: check-changes
    if: ${{ needs.check-changes.outputs.has_changes == 'yes' }}
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        include:
        - cxx: g++
          cc: gcc
        - cxx: clang++-8
          cc: clang-8
        - cxx: clang++-10
          cc: clang-10
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Build test Docker image
      env:
        CC: ${{ matrix.cc }}
        CXX: ${{ matrix.cxx }}
      run: |
        docker build -t pi --build-arg IMAGE_TYPE=test --build-arg CC=$CC --build-arg CXX=$CXX -f Dockerfile.bmv2 .
    - name: Run tests
      run: |
        docker run -w /PI pi \
          'make check -j2 || (find . -name "test-suite.log" | xargs cat)'
    - name: Check style
      run: |
        docker run -w /PI pi ./tools/check_style.sh
